<<<<<<< HEAD
body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(weather/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:3rem;
  flex-wrap: wrap;
  
}
#search{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  gap:3rem;
  border:#283144  solid 0.2rem;
  border-radius:0.5rem ;
  visibility: hidden;
}


#big{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  
}
#small{
  background-color: #284f61;
  opacity: 70%;
  color: aliceblue;
  border:#283144  solid 0.2rem;
  text-align: center;
  visibility: hidden;
}
#countryT{
  font-weight: bolder;
  font-size: 3rem;
}
#LogoT{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

#tempT{
  text-align: center;
  font-weight: bolder;
  font-size: 4rem;
}

#extras{
  display: grid;
  grid-template-columns: repeat(2, 7rem);
  grid-template-rows: repeat(2, 7rem);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 2rem;
  

}
.extra{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border:#283144  solid 0.2rem;
  border-radius:0.5rem ;
  background-color: #284f61;
  opacity: 70%;
  color: aliceblue;
  visibility: hidden;

}

#location{
  background-color: #283144;
  color: white;
  border-radius: 0.3rem;
}

=======
>>>>>>> parent of b0792d4 (finished styling and made user able to use enter button to enter)
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#283144;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #284f61;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  

  .slider:after
  {
   content:'C';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'F';
  }

  .huav{
    height: 3rem;
    width: auto;
  }